@model IEnumerable<DWEB514_Elie_Atamech.Models.DoctorModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!Model.Any())
{
    <p>There are no doctors at the moment.</p>
}
else
{
    <h2>Doctors</h2>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Speciality</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var doctor in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(doctor.FullName, "Edit", "Customers", new { id = doctor.Id }, null)
                    </td>
                    <td>
                        @doctor.SpecialityName
                    </td><td>
                        Delete
                    </td>
                </tr>
            }
        </tbody>
    </table>
}





